<ul nz-menu>
  <li nz-menu-item class="text-align"> <i nz-icon nzType="rollback" nzTheme="outline" ></i>转发</li>
  <li nz-menu-item class="text-align" ><i nz-icon nzType="weibo-circle" nzTheme="outline"></i>微博</li>
  <li nz-menu-item class="text-align"> <i nz-icon nzType="wechat" nzTheme="outline"></i>微信</li>
  <li nz-menu-item class="text-align"> <i nz-icon nzType="qq" nzTheme="outline"></i>QQ</li>
  <li nz-menu-item class="text-align"> <i nz-icon nzType="skype" nzTheme="outline"></i>Skype</li>
  <li nz-menu-item class="text-align"> <i nz-icon nzType="zhihu" nzTheme="outline"></i>知乎</li>
</ul>