
<div nz-row>
    <div nz-col nzSpan="14" nzOffset="4">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a href="">首页</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="[ '..' ]">{{ articleData?.tag }}</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                正文
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
</div>
<div nz-row nzType="flex" nzJustify="center" nzGutter="20">
    <div nz-col nzSpan="2" >
      <nz-affix [nzOffsetTop]="58">
        <app-article-tool></app-article-tool>
      </nz-affix>
    </div>
    <div nz-col nzSpan="14" style="background-color: white;" class="arctcle-padding bottom-ten-margin">
      <h1>{{ articleData?.title }}</h1> 
      <p>{{ articleData?.time }} <button  (click)="favorite(articleData?.id)" nz-button nzType="default" nzShape="circle" nzGhost style="color: black;">
        <i nz-icon nzType="star" [nzTheme]="starTheme" [nzTwotoneColor]="'#eb2f96'"></i>
    </button></p>
      <div [innerHTML]='articleData?.article'>
      </div>
      <div nz-row>
          <div nz-row nzSpan="24" >
              <nz-comment>
                <nz-comment-content>
                  <nz-form-item>
                    <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                  </nz-form-item>
                  <nz-form-item>
                    <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="isCanComment" (click)="handleSubmit()">
                      评论
                    </button>
                  </nz-form-item>
                </nz-comment-content>
              </nz-comment>

              <nz-list *ngIf="commsData?.length" [nzDataSource]="commsData" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                  <nz-comment  [nzAuthor]="item?.nick_name"  [nzDatetime]="item?.c_date * 1000 | date:'yyyy-MM-dd HH:mm:ss'">
                    <nz-avatar [routerLink]="[ '../../user', item?.u_id ]" nz-comment-avatar  [nzText]="item?.nick_name"></nz-avatar>
                    <nz-comment-content>
                      <p>{{ item?.c_content }}</p>
                    </nz-comment-content>
                    <nz-comment-action *ngIf="item?.u_id == cuid"><span (click)="delComment()">删除</span></nz-comment-action>
                  </nz-comment>
                </ng-template>
              </nz-list>
          </div>
      </div>
    </div>
    <div nz-col nzSpan="5">
      <div nz-row nzType="flex" nzJustify="center" style="background-color: white" class="bottom-ten-margin">
          <div nz-col  nzSpan="20" style="padding-top: 26px;">
           
            <div nz-row>
             <div nz-col  nzSpan="8">
                <nz-avatar
                [nzText]="articleData?.nickName"
                [nzSize]="64"
                [ngStyle]="{ 'background-color': 'red' }"
                style="vertical-align: middle; cursor: pointer"
              ></nz-avatar>
            
             </div>
             <div nz-col nzSpan="14">
               <div nz-row>
                 <div nz-col    nzSpan="24" style="font-size: 1.3em; cursor: pointer">
                  <span [routerLink]="[ '../../user', articleData?.uid ]">{{ articleData?.nickName }}</span></div>
               </div>
               <div nz-row>
                <div nz-col nzSpan="24">
                  <button nz-button [nzType]="btnType" (click)="addSub(articleData?.uid)" [nzLoading]="isLoading">{{ subTip }}</button>
                </div>
               </div>
             </div>
           </div>
           <div nz-row>
             <div nz-col  nzSpan="24" style="padding-bottom: 10px;">
               <span style="display: block;margin: 8px 10px;">{{articleData?.motto}}</span>
             </div>
           </div> 
             
          </div>
      </div>
      </div>
  </div>
