<div nz-row style="height: 48px; padding-top: 4px; background-color: white;" class="bottom-ten-margin">
  <div nz-col nzSpan="1" nzOffset="3">
      <i nz-icon [nzType]="'home'" style=" font-size: 3em; color: #1890ff;" routerLink="recommed"></i>
  </div>
  <div nz-col nzSpan="8" class="top-margin-ten">
      <app-search-news></app-search-news>
  </div>
  <div nz-col nzSpan="2" nzOffset="7" class="top-margin-ten button-flex-around">
      <button nz-button nzGhost nzType="primary" routerLink="/login">登录</button>
      <button nz-button nzGhost nzType="primary" routerLink="/register">注册</button>
  </div>
</div>