<ul nz-menu>
  <li nz-menu-item class="text-align" [nzSelected]="true" routerLink="/recommed"> 推荐</li>
  <li nz-menu-item class="text-align" routerLink="/technology"> 科技</li>
  <li nz-menu-item class="text-align" routerLink="/recreation"> 娱乐</li>
  <li nz-menu-item class="text-align" routerLink="/game"> 游戏</li>
  <li nz-menu-item class="text-align" routerLink="/sports"> 体育</li>
  <li nz-menu-item class="text-align" routerLink="/finance"> 财经</li>
  <li nz-menu-item class="text-align" routerLink="/funny"> 搞笑</li>
</ul>